.body {
    height: 3000px;
    position: relative;
}
.square {
    height: 100px;
    width: 100px;
    background: red;
    position: relative;
    position: absolute;
    top: 20px;
    right: 30px;
}
.round {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: salmon;
    position: absolute;
    position: fixed;
    right: 30px;
    top: 500px;
}
.square1 {
    height: 20px;
    width: 20px;
    background: seagreen;
    position: absolute;
    top: 0;
    left: 0;
}
.square2 {
    height: 20px;
    width: 20px;
    background: seagreen;
    position: absolute;
    bottom: 0;
    right: 0;
}
.square3 {
    height: 20px;
    width: 20px;
    background: seagreen;
    position: absolute;
    top: -10px;
    right: -10px;
}
.sq {
    width: 200px;
    height: 200px;
    background: gray;
    position: relative;
}
.sq1 {
    width: 50px;
    height: 50px;
    background: green;
    z-index: 2;
}
.sq2 {
    width: 20px;
    height: 20px;
    background: yellow;
    position: absolute;
    top: 0;
    left: 0;
}